/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #eceae0 -29.09%,
    #b7a9ae 51.77%,
    #a594ac 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.main-div {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.aip-diagram-container {
  height: 600px;
  width: 900px;
}

.aip-modeler-container {
  height: 800px;
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.aip-bpmn-container {
  display: flex;
  flex-direction: row;
}

.bpmn-text {
  margin-top: 20px;
  width: 98%;
  height: 200px;
}
